**<h1 align="center"> Pré-processamento dos dados brutos </h1>**
___

In [2]:
import pandas as pd

DIR = ["dataset/fm2023.csv", "dataset/fm22data.csv", "dataset/fm21data.csv", "dataset/fm20data.csv"]

lista_de_dataframes = []

for arquivo_csv in DIR:
    try:
        df_temp = pd.read_csv(arquivo_csv, on_bad_lines='skip')
        df_temp.columns = df_temp.columns.str.strip()
        df_temp = df_temp[['Name', 'DoB','Division','Based','Club']]
        lista_de_dataframes.append(df_temp)
    except ValueError as e:
        print(f"Aviso: Colunas 'Name' ou 'DoB' não encontradas em {arquivo_csv}. Pulando arquivo. Detalhe: {e}")
df = pd.concat(lista_de_dataframes, ignore_index=True)

display(df)

FileNotFoundError: [Errno 2] No such file or directory: 'dataset/fm2023.csv'

In [ ]:
df_brasil = df[df['Division'].str.contains('Brazilian', case=False, na=False)]
display(df_brasil)

,Name,DoB,Division,Based,Club
1,Hulk,25/7/1986 (35 years old),Brazilian National First Division,Brazil (First Division),ATM
4,Alex Teixeira,6/1/1990 (32 years old),Brazilian National Second Division,Brazil (Second Division),VDG
5,Fernandinho,4/5/1985 (37 years old),Brazilian National First Division,Brazil (First Division),ATP
13,Arturo Vidal,22/5/1987 (35 years old),Brazilian National First Division,Brazil (First Division),FLA
18,Miranda,7/9/1984 (37 years old),Brazilian National First Division,Brazil (First Division),SPO
...,...,...,...,...,...
571932,Kallikratís,30/6/2000 (19 years old),Brazilian National Third Division,Brazil (Third Division),CON
574180,Índio Potiguar,22/8/1990 (28 years old),Brazilian National Lower Division,Brazil (Lower Division),Juventude Samas
576795,Rylberth,14/2/2000 (19 years old),Brazilian National Third Division,Brazil (Third Division),ABF
577083,Ferreira,19/2/1993 (26 years old),Brazilian National Second Division,Brazil (Second Division),BTF
578113,Alessandro,14/6/1997 (22 years old),Brazilian National Lower Division,Brazil (Lower Division),Primavera

In [ ]:
import numpy as np
"""
df_brasil['posicao'] = df_brasil['posicao'].str.strip()
df_brasil['posicao'] = df_brasil['posicao'].str.upper()
"""
df_brasil['Name'] = df_brasil['Name'].str.strip()
df_brasil['Name'] = df_brasil['Name'].str.upper()
"""
df_brasil['clube'] = df_brasil['clube'].str.strip()

df_brasil['num_camisa'] = df_brasil['num_camisa'].astype('Int64')
"""
df_brasil['Name'] = df_brasil['Name'].astype(str)

df_brasil['Pnome'] = df_brasil['Name'].str.split().str[0]
df_brasil['Unome'] = df_brasil['Name'].str.split().str[-1]
condicao = df_brasil['Pnome'] == df_brasil['Unome']
df_brasil.loc[condicao, 'Unome'] = np.nan
df_brasil = df_brasil.drop('Name', axis=1)
#df_brasil['d_data_nascimento'] = pd.NA

#colunas = ['Pnome','Unome','num_camisa','d_data_nascimento','posicao','clube']
#df_brasil = df_brasil[colunas].copy()
#df_brasil = df_brasil.rename(columns={'Pnome':'c_Pnome_jogador','Unome':'c_Unome_jogador','num_camisa': 'n_camisa','posicao': 'c_posicao','clube': 'c_nome_time'})


display(df_brasil)

#df_brasil.to_csv("inserts/jogadores_brasileirao.csv", index = False)

C:\Users\ester\AppData\Local\Temp\ipykernel_5604\1086425675.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_brasil['Name'] = df_brasil['Name'].str.strip()
C:\Users\ester\AppData\Local\Temp\ipykernel_5604\1086425675.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_brasil['Name'] = df_brasil['Name'].str.upper()
C:\Users\ester\AppData\Local\Temp\ipykernel_5604\1086425675.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_brasil['Name'] = df_brasil['Name'].astype(str)
C:\Users\ester\AppData\Local\Temp\ipykernel_5604\1086425675.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_brasil['Pnome'] = df_brasil['Name'].str.split().str[0]
C:\Users\ester\AppData\Local\Temp\ipykernel_5604\1086425675.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_brasil['Unome'] = df_brasil['Name'].str.split().str[-1]

,DoB,Division,Based,Club,Pnome,Unome
1,25/7/1986 (35 years old),Brazilian National First Division,Brazil (First Division),ATM,HULK,NaN
4,6/1/1990 (32 years old),Brazilian National Second Division,Brazil (Second Division),VDG,ALEX,TEIXEIRA
5,4/5/1985 (37 years old),Brazilian National First Division,Brazil (First Division),ATP,FERNANDINHO,NaN
13,22/5/1987 (35 years old),Brazilian National First Division,Brazil (First Division),FLA,ARTURO,VIDAL
18,7/9/1984 (37 years old),Brazilian National First Division,Brazil (First Division),SPO,MIRANDA,NaN
...,...,...,...,...,...,...
571932,30/6/2000 (19 years old),Brazilian National Third Division,Brazil (Third Division),CON,KALLIKRATÍS,NaN
574180,22/8/1990 (28 years old),Brazilian National Lower Division,Brazil (Lower Division),Juventude Samas,ÍNDIO,POTIGUAR
576795,14/2/2000 (19 years old),Brazilian National Third Division,Brazil (Third Division),ABF,RYLBERTH,NaN
577083,19/2/1993 (26 years old),Brazilian National Second Division,Brazil (Second Division),BTF,FERREIRA,NaN
578113,14/6/1997 (22 years old),Brazilian National Lower Division,Brazil (Lower Division),Primavera,ALESSANDRO,NaN

In [ ]:
df_jogadores = pd.read_csv("inserts/arquivos_csvs/jogadores_brasileirao.csv")
display(df_jogadores)

,c_Pnome_jogador,c_Unome_jogador,n_camisa,d_data_nascimento,c_posicao,c_nome_time
0,Douglas,Moreira,17.0,NaN,Meio-Campo,Gremio
1,Hugo,Souza,1.0,31/1/1999,Goleiro,Corinthians
2,Reinaldo,Silva,6.0,25/5/1984,Zagueiro,Gremio
3,Jose,Martinez,70.0,NaN,Meio-Campo,Corinthians
4,Andre,Carrillo,19.0,NaN,Meio-Campo,Corinthians
...,...,...,...,...,...,...
4196,Lucas,Afonso,NaN,NaN,NaN,Fluminense
4197,Arouca,NaN,NaN,NaN,NaN,Santos
4198,Marcos,Goncalves,NaN,NaN,NaN,Vitoria
4199,Nirley,Fonseca,NaN,NaN,NaN,Fluminense
4200,Luiz,Silva,NaN,NaN,NaN,Atletico-Mg

In [ ]:
# 1. CRIE UMA VERSÃO DE df_brasil SEM NOMES DUPLICADOS
#    Isso garante que cada jogador só aparecerá uma vez.
#    'keep="first"' mantém a primeira ocorrência de cada jogador e remove as subsequentes.
df_brasil_sem_duplicatas = df_brasil.drop_duplicates(subset=['Pnome', 'Unome'], keep='first')

# 2. AGORA, FAÇA O MERGE USANDO O DATAFRAME LIMPO
#    Como agora só existe uma correspondência possível por nome, nenhuma linha será adicionada.
df_atualizado = pd.merge(
    df_jogadores,
    df_brasil_sem_duplicatas[['Pnome', 'Unome', 'DoB']], # Pega apenas as colunas necessárias
    left_on=['c_Pnome_jogador', 'c_Unome_jogador'],
    right_on=['Pnome', 'Unome'],
    how='left'
)

# 3. ATUALIZE A COLUNA DE DATA DE NASCIMENTO E LIMPE
#    Esta parte continua igual, usando .fillna() para preencher apenas os vazios.
df_atualizado['d_data_nascimento'] = df_atualizado['d_data_nascimento'].fillna(df_atualizado['DoB'])

# Remove as colunas auxiliares do merge que não são mais necessárias
df_final = df_atualizado.drop(columns=['Pnome', 'Unome', 'DoB'])

# Opcional: verifique se o número de linhas permaneceu o mesmo
print(f"Linhas em df_jogadores original: {len(df_jogadores)}")
print(f"Linhas em df_final após a atualização: {len(df_final)}")

display(df_final)

Linhas em df_jogadores original: 4201
Linhas em df_final após a atualização: 4201

,c_Pnome_jogador,c_Unome_jogador,n_camisa,d_data_nascimento,c_posicao,c_nome_time
0,Douglas,Moreira,17.0,NaN,Meio-Campo,Gremio
1,Hugo,Souza,1.0,31/1/1999,Goleiro,Corinthians
2,Reinaldo,Silva,6.0,25/5/1984,Zagueiro,Gremio
3,Jose,Martinez,70.0,NaN,Meio-Campo,Corinthians
4,Andre,Carrillo,19.0,NaN,Meio-Campo,Corinthians
...,...,...,...,...,...,...
4196,Lucas,Afonso,NaN,NaN,NaN,Fluminense
4197,Arouca,NaN,NaN,NaN,NaN,Santos
4198,Marcos,Goncalves,NaN,NaN,NaN,Vitoria
4199,Nirley,Fonseca,NaN,NaN,NaN,Fluminense
4200,Luiz,Silva,NaN,NaN,NaN,Atletico-Mg

In [ ]:
# Conta quantos valores na coluna 'd_data_nascimento' são nulos
jogadores_sem_data = df_final["d_data_nascimento"].isnull().sum()

# Exibe o resultado de forma clara
print(f"Total de jogadores que continuam sem data de nascimento: {jogadores_sem_data}")
print(f"Total de jogadores com data de nascimento: {len(df_final)-jogadores_sem_data}")

Total de jogadores que continuam sem data de nascimento: 2284
Total de jogadores com data de nascimento: 1917

In [ ]:
display(df_final[(df_final["c_Pnome_jogador"] == "Gabriel") & (df_final["c_Unome_jogador"] == "Barbosa")])

,c_Pnome_jogador,c_Unome_jogador,n_camisa,d_data_nascimento,c_posicao,c_nome_time
307,Gabriel,Barbosa,99.0,30/8/1996,Atacante,Flamengo
2079,Gabriel,Barbosa,10.0,30/8/1996,Atacante,Santos

In [ ]:
display(df_final[df_final["c_Unome_jogador"] == "ARRASCAETA"])

NameError: name 'df_final' is not defined

In [ ]:
display(df_final[(df_final["c_Pnome_jogador"] == "NENÊ") | (df_final["c_Unome_jogador"] == "NENÊ")])

Empty DataFrame
Columns: [c_Pnome_jogador, c_Unome_jogador, n_camisa, d_data_nascimento, c_posicao, c_nome_time]
Index: []

In [ ]:
from datetime import datetime, timedelta

df_final_aleatorio = df_final.copy()

df_final_aleatorio['d_data_nascimento'] = pd.to_datetime(df_final_aleatorio['d_data_nascimento'], errors='coerce', dayfirst=True)

# Camisas aleatórias entre 1 e 99
num_nulls = df_final_aleatorio['n_camisa'].isna().sum()
df_final_aleatorio.loc[df_final_aleatorio['n_camisa'].isna(), 'n_camisa'] = np.random.randint(1, 100, size=num_nulls)

# Gerar datas entre 1989 e 1999
hoje = pd.Timestamp.now()
min_data = hoje - pd.DateOffset(years=35)
max_data = hoje - pd.DateOffset(years=25)

def gerar_data_aleatoria():
    dias_intervalo = (max_data - min_data).days
    return min_data + timedelta(days=np.random.randint(0, dias_intervalo))

# Preencher datas nulas
mask_nascimento = df_final_aleatorio['d_data_nascimento'].isna()
df_final_aleatorio.loc[mask_nascimento, 'd_data_nascimento'] = [
    gerar_data_aleatoria() for _ in range(mask_nascimento.sum())
]

# formatar datas como string dd/mm/yyyy 
df_final_aleatorio['d_data_nascimento'] = df_final_aleatorio['d_data_nascimento'].dt.strftime('%d/%m/%Y')

display(df_final_aleatorio)

,c_Pnome_jogador,c_Unome_jogador,n_camisa,d_data_nascimento,c_posicao,c_nome_time
0,Douglas,Moreira,17.0,28/05/1998,Meio-Campo,Gremio
1,Hugo,Souza,1.0,31/01/1999,Goleiro,Corinthians
2,Reinaldo,Silva,6.0,25/05/1984,Zagueiro,Gremio
3,Jose,Martinez,70.0,01/01/1996,Meio-Campo,Corinthians
4,Andre,Carrillo,19.0,19/07/1999,Meio-Campo,Corinthians
...,...,...,...,...,...,...
4196,Lucas,Afonso,46.0,09/12/1995,NaN,Fluminense
4197,Arouca,NaN,10.0,06/03/1993,NaN,Santos
4198,Marcos,Goncalves,96.0,09/01/1992,NaN,Vitoria
4199,Nirley,Fonseca,49.0,06/12/1992,NaN,Fluminense
4200,Luiz,Silva,68.0,24/06/1993,NaN,Atletico-Mg