In [84]:
import pandas as pd
pd.reset_option('display.max_rows')
df = pd.read_csv("campeonato-brasileiro-full.csv")
display(df)

,ID,rodata,data,hora,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_Placar,visitante_Placar,mandante_Estado,visitante_Estado
0,1,1,29/03/2003,16:00,Guarani,Vasco,NaN,NaN,NaN,NaN,Guarani,Brinco de Ouro,4,2,SP,RJ
1,2,1,29/03/2003,16:00,Athletico-PR,Gremio,NaN,NaN,NaN,NaN,Athletico-PR,Arena da Baixada,2,0,PR,RS
2,3,1,30/03/2003,16:00,Flamengo,Coritiba,NaN,NaN,NaN,NaN,-,Maracanã,1,1,RJ,PR
3,4,1,30/03/2003,16:00,Goias,Paysandu,NaN,NaN,NaN,NaN,-,Serra Dourada,2,2,GO,PA
4,5,1,30/03/2003,16:00,Internacional,Ponte Preta,NaN,NaN,NaN,NaN,-,Beira Rio,1,1,RS,SP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8780,8783,38,08/12/2024,16:04,Cuiaba,Vasco,4-3-3,4-3-2-1,B. Franco,F. Loureiro,Vasco,Arena Pantanal,1,2,MT,RJ
8781,8784,38,08/12/2024,16:04,Palmeiras,Fluminense,4-2-3-1,4-2-3-1,A. Moreira Ferreira,L. Venker de Menezes,Fluminense,Allianz Parque,0,1,SP,RJ
8782,8776,38,08/12/2024,16:05,Fortaleza,Internacional,4-2-3-1,4-1-2-1-2,J. Vojvoda,R. Machado Marques,Fortaleza,Arena Castelão,3,0,CE,RS
8783,8780,38,08/12/2024,16:05,Bragantino,Criciuma,4-2-3-1,4-1-2-1-2,F. Seabra,C. Tencati,Bragantino,Nabizão,5,1,SP,SC
8784,8785,38,08/12/2024,16:05,Gremio,Corinthians,4-4-2,4-3-1-2,Renato Gaúcho,R. Díaz,Corinthians,Arena do Grêmio,0,3,RS,SP

In [85]:
df_gols = pd.read_csv("campeonato-brasileiro-gols.csv")
display(df_gols)

,partida_id,rodata,clube,atleta,minuto,tipo_de_gol
0,4607,1,Fluminense,Rafael Sóbis,31,NaN
1,4607,1,Fluminense,Nirley da Silva Fonseca,59,Gol Contra
2,4607,1,Fluminense,Fred,45,Penalty
3,4608,1,Internacional,Charles Aránguiz,6,NaN
4,4612,1,Cruzeiro,Nílton Ferreira Júnior,63,NaN
...,...,...,...,...,...,...
9856,8780,38,Bragantino,Vinicinho,30,NaN
9857,8780,38,Criciuma,Rodrigo Fagundes de Freitas,39,NaN
9858,8785,38,Corinthians,Charles Rigon Matos,88,NaN
9859,8785,38,Corinthians,Yuri Alberto,45+1,Penalty
9860,8785,38,Corinthians,Memphis Depay,90+3,NaN

In [86]:
df_cartoes = pd.read_csv("campeonato-brasileiro-cartoes.csv")
display(df_cartoes)

,partida_id,rodata,clube,cartao,atleta,num_camisa,posicao,minuto
0,4607,1,Figueirense,Amarelo,Paulo Roberto da Silva,28.0,NaN,66
1,4607,1,Figueirense,Amarelo,Thiago Heleno,4.0,Zagueiro,44
2,4608,1,Internacional,Amarelo,Andrés D'Alessandro,10.0,Meio-campo,72
3,4608,1,Vitoria,Amarelo,Marcelo Machado dos Santos,29.0,NaN,86
4,4608,1,Vitoria,Amarelo,Mansur,NaN,Zagueiro,10
...,...,...,...,...,...,...,...,...
20948,8785,38,Corinthians,Amarelo,André Carrillo,19.0,Meio-campo,54
20949,8785,38,Corinthians,Vermelho,José Andrés Martínez,70.0,Meio-campo,79
20950,8785,38,Gremio,Amarelo,Reinaldo Manoel da Silva,6.0,Zagueiro,25
20951,8785,38,Corinthians,Amarelo,Hugo Souza,1.0,Goleiro,64
20952,8785,38,Gremio,Vermelho,Douglas Moreira,17.0,Meio-campo,79

In [87]:
import re

colunas = ['ID','data','hora','visitante_Placar','mandante_Placar','arena','mandante','visitante','rodata']
df_limpo = df[colunas].copy()
df_limpo = df_limpo.rename(columns={'visitante_Placar': 'n_placar_visitante','mandante_Placar': 'n_placar_casa','arena': 'c_nome_estadio','mandante': 'c_time_casa','visitante': 'c_time_visitante','rodata':'n_rodada'})

df_limpo['data'] = pd.to_datetime(df_limpo['data'], format='%d/%m/%Y')
df_limpo = df_limpo[df_limpo['data'].dt.year == 2023]
df_limpo ['c_nome_estadio'] = df_limpo ['c_nome_estadio'].apply(lambda x: re.sub(r'\s+', ' ', x).strip())
df_limpo['d_ano_campeonato'] = df_limpo['data'].dt.year
df_limpo.index = range(1, len(df_limpo) + 1)


display(df_limpo)
df_limpo.drop(columns=['ID']).to_csv("campeonato-brasileiro-2023-jogos.csv", index=False)

,ID,data,hora,n_placar_visitante,n_placar_casa,c_nome_estadio,c_time_casa,c_time_visitante,n_rodada,d_ano_campeonato
1,8026,2023-04-15,16:01,1,2,Allianz Parque,Palmeiras,Cuiaba,1,2023
2,8027,2023-04-15,16:02,3,0,Estádio Raimundo Sampaio,America-MG,Fluminense,1,2023
3,8029,2023-04-15,18:31,1,2,Nabizão,Bragantino,Bahia,1,2023
4,8030,2023-04-15,18:31,0,2,Ligga Arena,Athletico-PR,Goias,1,2023
5,8031,2023-04-15,18:32,1,1,Arena Castelão,Fortaleza,Internacional,1,2023
...,...,...,...,...,...,...,...,...,...,...
376,8401,2023-12-06,21:32,1,4,Itaipava Arena Fonte Nova,Bahia,Atletico-MG,38,2023
377,8402,2023-12-06,21:32,0,3,Arena Pantanal,Cuiaba,Athletico-PR,38,2023
378,8403,2023-12-06,21:32,2,1,Estádio Urbano Caldeira,Santos,Fortaleza,38,2023
379,8404,2023-12-06,21:32,0,1,Morumbi,Sao Paulo,Flamengo,38,2023
380,8405,2023-12-06,21:32,1,2,Estádio São Januário,Vasco,Bragantino,38,2023

In [88]:
# Criar as colunas ausentes corretamente
df_jogador_gols = df_gols[['atleta', 'clube']].copy()
df_jogador_gols['num_camisa'] = pd.NA
df_jogador_gols['posicao'] = pd.NA

df_jogador_cartoes = df_cartoes[['atleta', 'clube', 'num_camisa', 'posicao']].copy()

# Unir os dois DataFrames
df_jogadores = pd.concat([df_jogador_gols, df_jogador_cartoes], ignore_index=True)

# Remover duplicados, mas mantendo uma linha por jogador por clube
df_jogadores_unicos = df_jogadores.drop_duplicates(subset=['atleta', 'clube'], keep='first').reset_index(drop=True)

# Exibir tudo
display(df_jogadores_unicos)

C:\Users\maria\AppData\Local\Temp\ipykernel_21104\768117848.py:9: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_jogadores = pd.concat([df_jogador_gols, df_jogador_cartoes], ignore_index=True)

                       atleta          clube  num_camisa   posicao
0                Rafael Sóbis     Fluminense         NaN       NaN
1     Nirley da Silva Fonseca     Fluminense         NaN       NaN
2                        Fred     Fluminense         NaN       NaN
3            Charles Aránguiz  Internacional         NaN       NaN
4      Nílton Ferreira Júnior       Cruzeiro         NaN       NaN
...                       ...            ...         ...       ...
4196                  Gabriel         Cuiaba        44.0  Zagueiro
4197     Ruan Tressoldi Netto      Sao Paulo        22.0  Zagueiro
4198              Alex Telles    Botafogo-RJ        13.0  Zagueiro
4199                     Raul    Botafogo-RJ        97.0   Goleiro
4200                   Adriel          Bahia        23.0   Goleiro

[4201 rows x 4 columns]

In [89]:
def contar_nao_nulos(row):
    # Conta quantos campos não são NaN na linha (excluindo atleta e clube)
    return row.notna().sum()

# Contar os não nulos (exceto atleta e clube)
df_jogadores['completude'] = df_jogadores[['num_camisa', 'posicao']].notna().sum(axis=1)

# Ordenar para que as linhas mais completas fiquem primeiro
df_jogadores_ordenado = df_jogadores.sort_values(by='completude', ascending=False)

# Agora fazer o drop_duplicates por (atleta, clube), ficando com a linha mais completa
df_jogadores_unicos = df_jogadores_ordenado.drop_duplicates(subset=['atleta', 'clube'], keep='first').reset_index(drop=True)

# Remover a coluna auxiliar de completude
df_jogadores_unicos = df_jogadores_unicos.drop(columns='completude')

# Exibir
display(df_jogadores_unicos)

                                 atleta        clube  num_camisa     posicao
0                       Douglas Moreira       Gremio        17.0  Meio-campo
1                            Hugo Souza  Corinthians         1.0     Goleiro
2              Reinaldo Manoel da Silva       Gremio         6.0    Zagueiro
3                  José Andrés Martínez  Corinthians        70.0  Meio-campo
4                        André Carrillo  Corinthians        19.0  Meio-campo
...                                 ...          ...         ...         ...
4196      Lucas Cavalcante Silva Afonso   Fluminense         NaN         NaN
4197                             Arouca       Santos         NaN         NaN
4198  Marcos Antônio da Silva Gonçalves      Vitoria         NaN         NaN
4199            Nirley da Silva Fonseca   Fluminense         NaN         NaN
4200     Luiz Fernando Pereira da Silva  Atletico-MG         NaN         NaN

[4201 rows x 4 columns]

In [90]:
import numpy as np
df_jogadores_unicos['posicao'] = df_jogadores_unicos['posicao'].str.strip()
df_jogadores_unicos['posicao'] = df_jogadores_unicos['posicao'].str.upper()

df_jogadores_unicos['atleta'] = df_jogadores_unicos['atleta'].str.strip()
df_jogadores_unicos['atleta'] = df_jogadores_unicos['atleta'].str.upper()

df_jogadores_unicos['clube'] = df_jogadores_unicos['clube'].str.strip()

df_jogadores_unicos['num_camisa'] = df_jogadores_unicos['num_camisa'].astype('Int64')

df_jogadores_unicos['atleta'] = df_jogadores_unicos['atleta'].astype(str)
df_jogadores_unicos['Pnome'] = df_jogadores_unicos['atleta'].str.split().str[0]
df_jogadores_unicos['Unome'] = df_jogadores_unicos['atleta'].str.split().str[-1]
condicao = df_jogadores_unicos['Pnome'] == df_jogadores_unicos['Unome']
df_jogadores_unicos.loc[condicao, 'Unome'] = np.nan
df_jogadores_unicos = df_jogadores_unicos.drop('atleta', axis=1)
df_jogadores_unicos['d_data_nascimento'] = pd.NA

colunas = ['Pnome','Unome','num_camisa','d_data_nascimento','posicao','clube']
df_jogadores_unicos = df_jogadores_unicos[colunas].copy()
df_jogadores_unicos = df_jogadores_unicos.rename(columns={'Pnome':'c_Pnome_jogador','Unome':'c_Unome_jogador','num_camisa': 'n_camisa','posicao': 'c_posicao','clube': 'c_nome_time'})


display(df_jogadores_unicos)

df_jogadores_unicos.to_csv("jogadores_brasileirao.csv", index = False)

,c_Pnome_jogador,c_Unome_jogador,n_camisa,d_data_nascimento,c_posicao,c_nome_time
0,DOUGLAS,MOREIRA,17,<NA>,MEIO-CAMPO,Gremio
1,HUGO,SOUZA,1,<NA>,GOLEIRO,Corinthians
2,REINALDO,SILVA,6,<NA>,ZAGUEIRO,Gremio
3,JOSÉ,MARTÍNEZ,70,<NA>,MEIO-CAMPO,Corinthians
4,ANDRÉ,CARRILLO,19,<NA>,MEIO-CAMPO,Corinthians
...,...,...,...,...,...,...
4196,LUCAS,AFONSO,<NA>,<NA>,NaN,Fluminense
4197,AROUCA,NaN,<NA>,<NA>,NaN,Santos
4198,MARCOS,GONÇALVES,<NA>,<NA>,NaN,Vitoria
4199,NIRLEY,FONSECA,<NA>,<NA>,NaN,Fluminense
4200,LUIZ,SILVA,<NA>,<NA>,NaN,Atletico-MG

In [91]:
def converter_minuto(minuto_str):
    if isinstance(minuto_str, str) and '+' in minuto_str:
        partes = minuto_str.replace('+', ' ').split()
        return sum(map(int, partes))
    try:
        return int(minuto_str)
    except:
        return None

In [92]:
#ARRUMANDO ID JOGADOR
df_gols['atleta'] = df_gols['atleta'].str.upper()
df_gols['atleta'] = df_gols['atleta'].astype(str)
df_gols['Pnome'] = df_gols['atleta'].str.split().str[0]
df_gols['Unome'] = df_gols['atleta'].str.split().str[-1]
condicao = df_gols['Pnome'] == df_gols['Unome']
df_gols.loc[condicao, 'Unome'] = np.nan

#ARRUMANDO MINUTO JOGO
df_gols['minuto'] = df_gols['minuto'].apply(converter_minuto)

def buscar_indice_jogador(row):
    pnome = row['Pnome']
    unome = row['Unome']
    clube = row['clube']

    cond = (df_jogadores_unicos['c_Pnome_jogador'] == pnome)
    
    # Verificar também o sobrenome (c_Unome_jogador), mas só se o sobrenome não for NaN
    if pd.notna(unome):
        cond = cond & (df_jogadores_unicos['c_Unome_jogador'] == unome)
    
    cond = cond & (df_jogadores_unicos['c_nome_time'] == clube)

    resultado = df_jogadores_unicos[cond]
    
    if not resultado.empty:
        return resultado.index[0]+1  # Pega o primeiro índice correspondente
    else:
        return np.nan  # Caso não encontre

# Criando a nova coluna com o índice
df_gols['id_jogador'] = df_gols.apply(buscar_indice_jogador, axis=1)
display(df_gols)

,partida_id,rodata,clube,atleta,minuto,tipo_de_gol,Pnome,Unome,id_jogador
0,4607,1,Fluminense,RAFAEL SÓBIS,31,NaN,RAFAEL,SÓBIS,2148
1,4607,1,Fluminense,NIRLEY DA SILVA FONSECA,59,Gol Contra,NIRLEY,FONSECA,4200
2,4607,1,Fluminense,FRED,45,Penalty,FRED,NaN,1259
3,4608,1,Internacional,CHARLES ARÁNGUIZ,6,NaN,CHARLES,ARÁNGUIZ,510
4,4612,1,Cruzeiro,NÍLTON FERREIRA JÚNIOR,63,NaN,NÍLTON,JÚNIOR,1932
...,...,...,...,...,...,...,...,...,...
9856,8780,38,Bragantino,VINICINHO,30,NaN,VINICINHO,NaN,33
9857,8780,38,Criciuma,RODRIGO FAGUNDES DE FREITAS,39,NaN,RODRIGO,FREITAS,100
9858,8785,38,Corinthians,CHARLES RIGON MATOS,88,NaN,CHARLES,MATOS,313
9859,8785,38,Corinthians,YURI ALBERTO,46,Penalty,YURI,ALBERTO,266
9860,8785,38,Corinthians,MEMPHIS DEPAY,93,NaN,MEMPHIS,DEPAY,170

In [93]:
#ARRUMANDO ID DO JOGO
df_gols_2023 = df_gols[df_gols['partida_id'].isin(df_limpo['ID'])].copy()
id_para_index = df_limpo.reset_index().set_index('ID')['index']
df_gols_2023['id_jogo'] = df_gols_2023['partida_id'].map(id_para_index)

#ELIMINANDO COLUNAS DESNECESSARIAS
df_gols_2023 = df_gols_2023.drop(['atleta','rodata','clube','tipo_de_gol','Pnome','Unome','partida_id'], axis=1)
df_gols_2023 = df_gols_2023.rename(columns={'minuto': 'n_minuto_gol'})

#GUARDANDO GOLS EM CSV
df_gols_2023.to_csv("gols_brasileirao_2023.csv",index=False)
display(df_gols_2023)

      n_minuto_gol  id_jogador  id_jogo
7986            52         624        1
7987             5         540        1
7988            65         134        1
7989            52          80        2
7990            60         551        2
...            ...         ...      ...
8927            58         807      378
8928            26         127      379
8929            82         513      380
8930            63         635      380
8931            29         559      380

[946 rows x 3 columns]

In [ ]:
df_cartoes['posicao'] = df_cartoes['posicao'].str.strip()
df_cartoes['posicao'] = df_cartoes['posicao'].str.upper()

df_cartoes['atleta'] = df_cartoes['atleta'].str.upper()
df_cartoes['atleta'] = df_cartoes['atleta'].astype(str)
df_cartoes['Pnome'] = df_cartoes['atleta'].str.split().str[0]
df_cartoes['Unome'] = df_cartoes['atleta'].str.split().str[-1]
condicao = df_cartoes['Pnome'] == df_cartoes['Unome']
df_cartoes.loc[condicao, 'Unome'] = np.nan
df_cartoes = df_cartoes.drop('atleta', axis=1)
df_cartoes['minuto'] = df_cartoes['minuto'].apply(converter_minuto)

df_cartoes['id_jogador'] = df_cartoes.apply(buscar_indice_jogador, axis=1)

#ARRUMANDO ID DO JOGO
df_cartoes_2023 = df_cartoes[df_cartoes['partida_id'].isin(df_limpo['ID'])].copy()
id_para_index = df_limpo.reset_index().set_index('ID')['index']
df_cartoes_2023['id_jogo'] = df_cartoes_2023['partida_id'].map(id_para_index)

#ELIMINANDO COLUNAS DESNECESSARIAS
df_gols_2023 = df_gols_2023.drop(['atleta','rodata','clube','tipo_de_gol','Pnome','Unome','partida_id','num_camisa'], axis=1)
df_gols_2023 = df_gols_2023.rename(columns={'minuto': 'n_minuto_gol'})

display(df_cartoes_2023)

,partida_id,rodata,clube,cartao,num_camisa,posicao,minuto,Pnome,Unome,id_jogador,id_jogo
16739,8026,1,Palmeiras,Amarelo,18.0,MEIO-CAMPO,37,JOSÉ,LÓPEZ,134,1
16740,8026,1,Cuiaba,Amarelo,98.0,ZAGUEIRO,48,MATEUSINHO,NaN,885,1
16741,8026,1,Cuiaba,Amarelo,16.0,ATACANTE,6,DEYVERSON,NaN,655,1
16742,8026,1,Cuiaba,Vermelho,5.0,MEIO-CAMPO,57,FILIPE,SOUZA,133,1
16743,8026,1,Palmeiras,Amarelo,40.0,MEIO-CAMPO,66,JHONATAN,ROSA,677,1
...,...,...,...,...,...,...,...,...,...,...,...
18852,8405,38,Vasco,Amarelo,11.0,ATACANTE,95,GABRIEL,PEC,560,380
18853,8405,38,Vasco,Amarelo,18.0,MEIO-CAMPO,51,PAULINHO,NaN,559,380
18854,8405,38,Bragantino,Vermelho,2.0,ZAGUEIRO,75,LÉO,REALPE,558,380
18855,8405,38,Vasco,Amarelo,17.0,ZAGUEIRO,84,GARY,MEDEL,557,380
18856,8405,38,Bragantino,Amarelo,19.0,ATACANTE,17,EDUARDO,SASHA,37,380

In [95]:
#for estadio in df_limpo['c_nome_estadio'].unique():
#    print(f"('{estadio}','{estadio}','45000'),")